<p>Edit your request below</p>
<form action="/requests/<%= @ticket.id %>" method="post">
  <input id = "hidden" type="hidden" name="_method" value="PATCH">
  <input type="text" name="content" value="<%= @ticket.content %>">
  <input type="submit" value="submit">
</form>
