<p>Please create a new request here</p>

<form action="/requests" method="post">
  <p>Enter:</p>
  <input type="text" name="content">
  <input class="btn btn-primary" type="submit" value="submit">
</form>
