<h1>Welcome, <%=current_tenant.username %>! Please see all your requests below:</h1>

<% @requests.each do |request|%>
<div>

    <%= request.content %>
    <br>
    <p>This request was created on <%= request.date %> for apartment <%= request.apt_num %></p>

</div>
<% end %>
<br>
<p>Create a new request <a href="/requests/new">Create Request</a></p>
<br>
<p><a href="/logout">Log Out</a></p>
