<h1>Welcome, <%=current_tenant.username %>! Please see all your requests below:</h1><br>

<% @requests.each do |request|%>
<div>



    <p>Request: "<%= request.content %>", was created on <%= request.date %> for apartment <%= request.apt_num %></p>

</div>
<% end %>

<p>Create a new request <a href="/requests/new">Create Request</a></p>

<p><a href="/logout">Log Out</a></p>
