<p><%= @ticket.content %></p>


<form action="/requests/<%= @ticket.id %>/delete" method="post">
  <input id = "hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Request">

</form>

<a href="/requests/<%=@ticket.id %>/edit">Edit Request</a>
