<p></p>
<p>Request: "<%= @ticket.content %>", has been created for apartment <%= @ticket.apt_num %></p>


<form action="/requests/<%= @ticket.id %>/delete" method="post">
  <input id = "hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Request">

</form>

<br>
<br>

<a href="/requests/<%=@ticket.id %>/edit">Edit Request</a>

<br>
<br>
<br>

<p>Go back to all requests <a href="/requests">here</a></p>
<br>
<p><a href="/logout">Log Out</a></p>
