<h1>Welcome to KeepTrack - CP Apartments's online service request-tracking portal!</h1>
<br>
<h5>We are committed to making your stay as comfortable as possible. Please follow the instructions below to enter a service request </h5>
<br>



<nav>
  <% if logged_in? %>

  <p>Welcome, <%=current_tenant.username %></p>
    <a href="/requests/new"> Create Request </a> <br>
    <a href="/requests">All Requests</a> <br>
    <a href="/logout"> Log Out </a>


  <% else %>
    <a href="/signup">New Tenants</a>
    <br>
    <a href="/login"> Existing Tenants </a>
  <%end %>

</nav>
