<h1>Welcome to Columbia Plaza Apartments!</h1>
<br>
<h4>We are committed to making your stay as comfortable as possible. Please follow the instructions below to enter a service request </h4>
<br>



<nav>
  <% if logged_in? %>

  <p>Welcome, <%=current_tenant.username %></p>
    <a href="/requests/new"> Create Request </a> <br>
    <a href="/logout"> Log Out </a>


  <% else %>
    <a href="/signup">New Tenants</a>
    <br>
    <a href="/login"> Existing Tenants </a>
  <%end %>

</nav>
